.App {
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}
input {
  padding: 1rem;
  width: 50%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  
}

.output {
  padding: 1rem;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  border: 2px solid black;
}
.emojiOutput {
  padding: 2rem;
  width: 70%;
}
